<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO2 Emission Temperature Prediction</title>
</head>
<body>
    <h1>年間CO₂排出量による温度上昇予測</h1>
    <form method="POST">
        <label for="annual_co2">年間CO₂排出量 (Gt):</label>
        <input type="text" id="annual_co2" name="annual_co2" required><br><br>

        <label for="years">経過年数 (年):</label>
        <input type="text" id="years" name="years" required><br><br>

        <button type="submit">シミュレーションを実施する</button>
    </form>

    {% if error_message %}
    <h2 style="color: red;">{{ error_message }}</h2>
    {% endif %}

    {% if temperature_change is not none %}
        <h2>予測される温度上昇: {{ temperature_change }} °C</h2>
    {% endif %}

    {% if img_filename %}
        <h2>上昇温度の予測結果グラフ:</h2>
        <!-- 画像をstaticディレクトリ内のパスから表示 -->
        <img src="{{ url_for('static', filename='files/' + img_filename) }}" alt="CO2 Prediction Graph">

        <!-- 注意書きをグラフの下に表示 -->
        <h3>注意事項:</h3>
        <p>・他の温室効果ガスの影響は考慮されていません。</p>
        <p>・自然の変動要因や気候システムの複雑さは反映されていません。</p>
        <p>・実際の気候変動はより複雑なため、この概算値は参考値です。</p>
    {% endif %}

    {% if csv_filename %}
        <h2>CSVファイルダウンロード:</h2>
        <a href="{{ url_for('download_csv') }}">CSVダウンロード</a>
    {% endif %}

    {% if excel_filename %}
        <h2>Excelファイルダウンロード:</h2>
        <a href="{{ url_for('download_excel') }}">Excelダウンロード</a>
    {% endif %}
</body>
</html>

